/*=================================================================================================================================================================================================
                                                                                               Content
================================================================================================= | =============================================================================================*/

/*=================================================================================================================================================================================================
                                                                                              Row Styles
================================================================================================= | =============================================================================================*/
.rid-1 {
  p {
    text-align : left;
  }
  & .row:nth-of-type(1), .row:nth-of-type(2) {

    > :nth-child(2) {
      order : -1;
    }
  }
  .col {
    display     : flex;
    align-items : center;
  }
  @include breakpoint(lg) {

    & .row:nth-of-type(1), .row:nth-of-type(2) {
      > :nth-child(2) {
        order : inherit;
      }
    }
  }
}
.rid-3 {
  p {
    text-align : left;
  }
}
.claimStyle-1 {
  padding : rem(44px) 0;
  @include gradiant-business;
  @include box-shaddow;

  p {
    text-align : left;
  }

  @include breakpoint(md) {
    p {
      text-align : center;
    }
  }
}
.zielgerichtetenWeblösungen {

  h2 {
    text-align : center;

    @include breakpoint(md) {
      text-align : left;
    }
  }
  p {
    text-align : left;
  }

  .col {
    img {
      max-height : 190px;
      width      : auto;
    }
  }

  & * > img {
    text-align : center;
  }

  > :nth-child(1) {
    order : 2;
  }
  > :nth-child(2) {
    order : 3;
  }
  > :nth-child(3) {
    order : 1;
  }

  @include breakpoint(lg) {
    > :nth-child(1) {
      order : 1;
    }
    > :nth-child(2) {
      order : 2;
    }

    > :nth-child(3) {
      order : 3;
    }
  }

}
.leistungenKurzblick {
  padding-top : $gap*1.3;
  position    : relative;

  .row {
    margin-bottom : 0;
    .col {
      margin-bottom : 3rem;
    }
  }

  h3 {
    font-weight   : 400;
    color         : $color-2;
    display       : flex;
    flex-flow     : row;
    align-items   : flex-end;
    margin-bottom : rem(13px);
    position      : relative;

    span {
      font-size    : 30px;
      color        : $color-4;
      margin-right : rem(10px);
      align-self   : center;
    }
  }
  p {
    color      : lighten($color-2, 25%);
    text-align : left;
    font-size  : rem(14px);
  }

  .bottomBar {
    border-top      : 1px solid $color-5;
    border-bottom   : 1px solid $color-5;
    width           : 100vw;
    height          : auto;
    padding         : $gap 0;
    display         : flex;
    flex-flow       : column;
    align-items     : center;
    justify-content : center;

    p {
      font-size   : rem(28px)*0.7;
      color       : $color-5;
      font-weight : 300;
      text-align  : center;

      b {
        color : $color-2;
      }
    }
    .btn {
      margin-top : 1rem;
      @include breakpoint(lg) {
        margin : 0 0 0 $gap*2;
      }
    }

    @include breakpoint(xs) {
      p {
        font-size : rem(32px)*0.9;
      }
    }
    @include breakpoint(lg) {
      flex-flow  : row;
      padding    : $gap 0;
      margin-top : 1.2rem;

      p {
        font-size : rem(30px);
      }
    }

  }
}
.visuellAnsprechend {

  .row {
    &.r1 {

      // "in der regel"
      > :nth-child(2) {
        order : 3;
      }

      // Bild 1
      > :nth-child(3) {
        order : 2;
      }
    }
    &.r2 {

      // Bild 1
      > :nth-child(2) {
        order : -1;
      }
    }
    &.r3 {

      // Bild 1
      > :nth-child(2) {
        order : -1;
      }
    }
  }
  @include breakpoint(md) {
    .row {
      &.r1 {

        // "in der regel"
        > :nth-child(2) {
          order : inherit;
        }

        // Bild 1
        > :nth-child(3) {
          order : initial;
        }
      }
      &.r2 {

        // Bild 1
        > :nth-child(2) {
          order : inherit;
        }
      }
      &.r3 {

        // Bild
        > :nth-child(2) {
          order : inherit;
        }
      }
    }
  }
}
.KomfortableVerwaltung {
  img {
    max-height : rem(120px);
  }

  .col {

    &:nth-of-type(1) {
      margin-bottom : rem(44px);
    }

    @include breakpoint(lg) {
      .col {
        margin-bottom : rem(80px);
      }
    }
  }
}
.SeoClaim {
  background : linear-gradient(-90deg, rgba(192, 213, 234, 1) 0%, rgba(201, 229, 255, 1) 100%);
  padding    : 2rem 0;
  position   : relative;
  display    : flex;
  height     : auto;
  @include removeGridMargins;

  .image {
    display         : flex;
    align-content   : center;
    align-items     : center;
    justify-items   : center;
    justify-content : center;
  }

  h3 {
    color      : $color-5;
    text-align : center;
  }

  p {
    color         : $color-5;
    font-family   : $title-font;
    font-size     : rem(22px) * 0.7;
    text-align    : center;
    margin-bottom : rem($gap);
    line-height   : rem(38px) * 0.7;
    z-index       : 500;

    b {
      font-family : $title-font;
      font-size   : rem(36px) * 0.7;

      &.color {
        color : #e5c13f;
      }
    }
  }

  img {
    max-height : 124px;
    width      : auto;
  }

  //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  @include breakpoint(sm) {
    height : auto;
    p {
      font-size   : rem(20px);
      line-height : 150%;

      b {
        font-size : rem(36px);
      }
    }
  }
  @include breakpoint(md) {
    align-items : center;
    padding     : 3rem 0;
    .row {
      .col {
        margin : 0;
      }
    }

    p {
      text-align : left !important;
    }

    h3 {
      text-align : left;
    }
  }
  @include breakpoint(lg) {
    padding : 4rem 0;
  }
}
.Suchmaschinenoptimierung {

  h2 {
    order : -2;
  }
  .col {
    &:nth-of-type(2) {
      order : -3;
    }
  }
  @include breakpoint(lg) {

    h2 {
      order : inherit;
    }
    .col {
      &:nth-of-type(2) {
        order : inherit;
      }
    }
  }

}
.Packetübersicht {

  h2 {
    font-family   : $title-font;
    font-size     : rem(48px) * $xs;
    color         : $color-2;
    font-weight   : 600;
    text-align    : center;
    margin-bottom : 3rem !important;
    padding       : 0 !important;
  }
  .col {
    margin-bottom : 0;
  }
  > span {
    padding    : 1rem 0;
    background : $color-3;
    display    : block;
    width      : 100%;
    color      : $light;

    .row {
      display         : flex;
      flex-flow       : column;
      justify-content : center;
      align-items     : center;
    }

    p {
      font-family : $title-font;
      font-weight : 600;
      font-size   : rem(32px) * $xs;
      color       : $dark;
      text-align  : center;

      b {
        color : $light;
      }
    }

    .btn {
      margin-top : 0.8rem;
    }
  }
  .pack {
    width         : 100%;
    display       : flex;
    flex-flow     : column nowrap;
    border-radius : rem(6px);
    margin-bottom : 3rem;
    cursor        : pointer;
    @include trans-2;

    > * {
      flex : 1 0 auto;
    }

    .icon {
      margin-bottom   : $gap;
      display         : flex;
      justify-content : center;
      justify-items   : center;
      align-content   : center;
      align-items     : center;

      img {
        max-height : rem(60px);
        width      : auto;
      }
    }
    .header {
      height          : rem(78px);
      justify-content : center;
      border-radius   : rem(0px) rem(12px) 0 0;
      box-shadow      : rgba($dark, 0.4) 0 2px 2px;
      margin-bottom   : 0;

      h3 {
        font-family : $title-font;
        font-weight : 300;
        font-size   : rem(36px);
        text-align  : center;
        color       : $light;
        margin      : 0;
      }
    }
    .body {
      padding : 1rem 1.3rem;

      table {
        display   : flex;
        flex-flow : row;

        > * th {
          flex        : 1 0 auto;
          min-height  : 1.7rem;
          display     : flex;
          align-items : center;
        }

        thead {
          padding   : rem(8px) rem(26px) rem(8px) 0;
          color     : $light;
          display   : flex;
          flex-flow : column nowrap;
          max-width : 100%;
          flex      : 1 0 auto;

          tr {
            flex       : 1 0 auto;
            display    : flex;
            flex-flow  : column;
            text-align : left;

            th {
              font-weight : 300;
            }
          }
        }

        tbody {
          padding   : rem(8px) 0 rem(8px) 0;
          color     : $light;
          display   : flex;
          flex-flow : column nowrap;
          flex      : 1 0 auto;

          tr {
            flex      : 1 0 auto;
            display   : flex;
            flex-flow : column;
          }
        }

      }
    }
    .footer {
      display         : flex;
      flex-flow       : row;
      justify-content : center;
      align-items     : center;
      height          : rem(40px);
      border-radius   : 0 0 rem(0px) rem(12px);
    }

    //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    &.starter {

      * {
        color : $dark;
      }

      .header {
        @include gradiant-grey;
        h3 {
          color : $dark;
        }
      }
      .body {
        @include gradiant-grey;
      }
      .footer {
        background : #d1d1d1;
        color      : $dark;
      }
    }
    &.basic {

      h3, th, .footer {
        color : $dark;
      }
      .header {
        @include gradiant-yellow;
        color : $dark;
      }
      .body {
        @include gradiant-yellow;
        color : $dark;
      }
      .footer {
        background : #8e7c25;
        color      : $light;
      }
    }
    &.business {

      .header {
        @include gradiant-business-re;
      }
      .body {
        @include gradiant-business;
      }
      .footer {
        background : #0e0e1d;
        color      : $light;
      }
    }
    //---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  }
  .callTo {
    display     : flex;
    flex-flow   : column nowrap;
    align-items : center;

    p {
      font-family    : $title-font;
      font-size      : rem(22px);
      padding-bottom : 0.6rem;
      text-align     : center;
      color          : $color-3;

      b {
        font-size : rem(22px);
      }
    }
  }

  @include breakpoint(xs) {
    h2 {
      font-size : rem(48px) * $md;
    }
  }
  @include breakpoint(md) {
    h2 {
      font-size : rem(48px);
    }
    .callTo {
      p {
        font-size : rem(28px);

        b {
          font-size : rem(28px);
        }
      }
    }
  }
  @include breakpoint(lg) {
    background-size : 200px auto;
    .pack {

      &.showBTN {
        transform : translateY(-25px);
      }
    }
  }
}
.calltoActionEnd {
  padding         : 5rem*0.7 0;
  display         : flex;
  justify-content : center;
  text-align      : center;
  flex-flow       : row nowrap;
  margin-bottom   : 0;

  p, h2 {
    text-align : center;
  }

  @include breakpoint(md) {
    padding : 5rem 0;
  }

  > * {
    margin : 0;
  }

  .row {

    h2 {
      color       : $color-2;
      font-family : $title-font;
      font-weight : 500;
      font-size   : rem(32px) * 0.8;

      @include breakpoint(md) {
        font-size : rem(32px);
      }

      span {
        color       : $color-1;
        font-weight : 400;
      }
    }

    p {
      color : $color-2;
    }

    a {
      margin : 2rem auto 0 auto;
    }
  }

}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//Leistungen
.pageTitle {
  display       : flex;
  background    : linear-gradient(-90deg, rgba(30, 44, 67, 1) 0%, rgba(22, 32, 48, 1) 100%);
  padding       : 2rem 0;
  margin-bottom : rem(120px)*0.6;
  @include removeGridMargins;
  .package {
    display : none;
  }
  .row {
    display       : flex;
    align-content : center;
    align-items   : center;
    .col {
    }
  }
  h1 {
    font-size   : rem(48px);
    line-height : 100%;
    color       : $light;
    text-align  : left;
    margin      : 0;

    span {
      color     : $light;
      font-size : rem(48px)*0.6;
    }
  }
  .image {
    display : none;
  }
  @include breakpoint(md) {
    margin-bottom : rem(120px);
    height        : 100vh;
    max-height    : rem(275px);
    padding       : 0.2rem 0;

    .wrap {
      display : flex;
    }
    h1 {
      font-size   : rem(80px);
      line-height : 70%;
      span {
        font-size : rem(28px);
      }

    }
    .image {
      display         : flex;
      flex            : 1;
      flex-flow       : column;
      justify-items   : center;
      justify-content : center;
      align-items     : center;
      align-content   : center;
      img {
        flex       : 1 0 100%;
        max-height : 80%;
      }

    }
  }
  @include breakpoint(lg) {
    .package {
      display         : flex;
      flex-flow       : column;
      align-items     : center;
      align-content   : center;
      justify-content : center;
      justify-items   : center;

      img {
        height     : 100%;
        max-height : rem(114px);
        width      : auto;
      }

      span {
        margin-top  : rem(20px);
        color       : $light;
        font-weight : 300;
      }
    }
  }
}
ul.leistungen {
  column-count : 1;
  width        : 100%;
  max-width    : $template-width;
  padding      : 0 $gap;

  @include breakpoint(md) {
    column-count : 2;
  }
}
.projektContainer {
  position     : relative;
  padding-left : rem(32px);
  margin-left  : rem(16px);
  border-left  : 1px solid lighten($color-2, 50%);;

  .station {
    margin-bottom : 2rem;
    position      : relative;

    &:before {
      content       : '';
      font-family   : $title-font;
      position      : absolute;
      left          : -47px;
      background    : $color-3;
      border-radius : 50%;
      height        : 30px;
      width         : 30px;
      text-align    : center;
      color         : $light;
      line-height   : 33px;
      z-index       : 300;

      &.st-2 & {
        content : '2';
      }
    }
    &:last-of-type {
      position : relative;

      &:after {
        content          : '';
        position         : absolute;
        width            : 8px;
        height           : 100%;
        left             : -37px;
        background-color : $light;
        top              : 0;
        z-index          : 10;
      }
    }

    &.st-1 {
      &:before {
        content : '1';
      }
    }
    &.st-2 {
      &:before {
        content : '2';
      }
    }
    &.st-3 {
      &:before {
        content : '3';
      }
    }
    &.st-4 {
      &:before {
        content : '4';
      }
    }
    &.st-5 {
      &:before {
        content : '5';
      }
    }
    &.st-6 {
      &:before {
        content : '6';
      }
    }
    &.st-7 {
      &:before {
        content : '7';
      }
    }
    &.st-8 {
      &:before {
        content : '8';
      }
    }
  }
  h3 {
    font-size     : rem(18px);
    margin-bottom : 0.2rem;
  }
  p {
    color       : lighten($color-2, 20%);
    font-size   : rem(15px);
    font-weight : 400;
  }
}
.projektAblauf {
  p {
    text-align : left;
  }
  .infos {
    h4 {
      color       : $color-1;
      font-weight : 400;
    }
    p {
      font-weight : 400;
      color       : lighten($color-2, 20%);
      text-align  : left;
    }
  }

  @include breakpoint(md) {

    .infos {
      .col {
        margin-bottom : rem(60px);
      }
      p {
        font-size : $font-size*0.95;
      }
    }
  }
}
/*=================================================================================================================================================================================================
                                                                                            Kontaktformular
================================================================================================= | =============================================================================================*/
body.page-template-page-kontaktformular {
  .titleBox {
    display        : flex;
    flex-flow      : row nowrap;
    width          : 100%;
    padding-top    : 1rem;
    padding-bottom : 2rem;
    border-bottom  : 1px solid lighten($color-2, 50%);;

    h1 {
      flex       : 0 0 50%;
      text-align : left;
      font-size  : rem(42px);
      align-self : center;
      text-align : right;
    }

    img {
      flex       : 0 0 auto;
      max-height : rem(90px);
      align-self : center;
    }

    @include breakpoint(md) {
      padding-top : 3rem;

    }
  }
  .col {
    .wrap {
      display         : flex;
      flex-flow       : row;
      justify-items   : center;
      justify-content : center;
    }
  }
}
body.page-template-page-impressum {
  p {
    text-align : left !important;
  }
}
/*=================================================================================================================================================================================================
                                                                                            Global Classes
================================================================================================= | =============================================================================================*/
.bold {
  font-weight : bold;
}
.greenBar {
  padding-left : rem($gap*1.5);

  &:after {
    content          : '';
    width            : 10px;
    height           : 100%;
    position         : absolute;
    left             : 0;
    background-color : $color-1;
    top              : 0;
  }
}
.claim {
  font-style  : normal;
  font-family : $title-font;
  font-size   : rem(20px);
  color       : $light;
  line-height : 140%;
  font-weight : 300;

  & b {
    font-family : $title-font;
    font-weight : 500;
    color       : $light;
  }

  @include breakpoint(lg) {
    font-size : rem(26px);
  }

}
.whiteContent {
  p, i, b, h1, h6, h5, h4, h3, h2, h1 & {
    color : $white;
  }
}
.shaddow-1 {
  text-shadow : rgba(0, 0, 0, 0.3) 1px 1px 1px;
}
.inset-shaddow {
  box-shadow : 0 3px 4.1px rgba(0, 0, 0, 0.2) inset;
}
.overflowX {
  overflow-x : auto;
  display    : block;
  max-width  : 100vw;

  @include breakpoint(md) {
    max-width : $template-width;
  }
}
.kontakt {
  display : none;

  @include breakpoint(md) {
    // address <>
    &.adress-1 {
      display   : flex;
      flex-flow : column;

      .row {
        margin : 0 0 rem(8px) 0;
      }
    }
  }

}
img.kontakt.logo {
  padding-bottom : 1rem;
  width          : rem(120px);

}
.titlePage {
  padding       : 0 0 2rem 0;
  text-align    : center;
  width         : 100%;
  border-bottom : 1px solid lighten($color-2, 30%);
  h1 {
    margin-bottom : 0;
  }

  @include breakpoint(md) {
    padding : 3rem 0;
  }

  body.page-template-page-startseite & {
    border : 0;
  }

}
