/*=================================================================================================================================================================================================
                                                                                               Buttons
================================================================================================= | =============================================================================================*/
.btn {
  display          : inline-flex;
  align-items      : center;
  flex             : 0 0 auto;
  background-color : inherit;
  border           : none;
  cursor           : pointer;
  color            : $light;
  font-size        : rem(14px);
  line-height      : 0;
  font-weight      : 300;
  font-family      : $main-font;
  padding          : rem(9px) rem(14px);
  @include trans-2;
  @include textOptimizer;

  @include breakpoint(md) {
    font-size : rem(16px);
  }

  span {
    font-size : $font-size !important;

    &:before {
      display      : flex;
      align-items  : center;
      font-size    : rem(16px) !important;
      color        : $light;
      margin-right : rem(10px);
      @include trans-2;

      @include breakpoint(md) {
        font-size : rem(18px) !important;
      }
    }
  }

  &.btn-1 {
    background-color : $color-2;
    padding          : rem(10px) rem(20px) rem(10px) rem(14px);
    border-radius    : rem(6px);
    position         : relative;
    font-size        : rem(14px);

    &:hover {
      background-color : $color-5;
      color            : $light;

      span {
        &:before {
          color : $color-1;
        }
      }
    }
  }
  &.btn-2 {
    font-size     : rem(12px);
    padding       : 10px 3px;
    border-radius : 2px;
    color         : $color-2;
    background    : $light;
    font-weight   : 400;

    &:hover {
      background : $color-1;
      cursor     : pointer;
    }

  }
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.formWrap {
  display          : flex;
  align-items      : center;
  align-content    : center;
  justify-items    : center;
  justify-content  : center;
  position         : fixed;
  left             : 0;
  top              : 0;
  min-height       : 100%;
  min-width        : 100%;
  background-color : rgba(#000, 0.60);
  z-index          : 3000 !important;
  @include trans-1;

  .formBox {
    flex       : 1;
    position   : relative;
    background : $light;
    max-width  : $template-width;
    padding    : 4rem $gap*2;
    color      : $color-2;
    margin     : 0 $gap;
  }

  &.hide {
    display : none;
    @include trans-1;
  }

  span.close {
    position : absolute;
    right    : 10px;
    top      : 10px;
  }

}
.form {
  * {
    padding : 0.2rem 0.3rem;
  }
}
.wpcf7-form {
  background-color : lighten($light, 5%);
  padding          : 2rem;
  box-shadow       : 0 1px 1px rgba($color-2, 0.3);
  border-radius    : rem(6px) 0 rem(6px) 0;
  width            : 98%;
  max-width        : rem(380px) !important;
  margin           : 0 auto;

  h2 {
    text-align : center;
  }
  p {
    text-align : left;
  }
  label {
    font-family : $title-font;
    color       : lighten($color-2, 15%);;
    font-size   : rem(15px);
  }
  span {
    .wpcf7-not-valid-tip {
      margin-left : 0.5rem;
      color       : $error;
    }

    &.wpcf7-list-item {
      margin-right : 1rem;
    }

    &.wpcf7-radio {
      display   : flex;
      flex-flow : column nowrap;
      padding   : rem(16px) 0;

      .wpcf7-list-item {
        display : flex;
      }
      .wpcf7-list-item-label {
        flex          : 0 0 50%;
        width         : 80%;
        text-align    : left;
        margin-bottom : rem(8px);
      }
    }
  }
  div {
    &.wpcf7-response-output {
      margin-top : 1rem;
      color      : $color-2;
    }

    &.screen-reader-response {
      color : $warning;
    }
  }
  input, select, textarea {
    border        : 0;
    padding       : 0.6rem 0.4rem;
    box-shadow    : 0 1px 1px rgba($color-2, 0.3);
    margin-bottom : rem(8px);
    max-width     : 100%;

    &[type=submit] {
      background-color : $color-1;
      color            : $dark;
      padding          : rem(9px) rem(14px);
      border-radius    : rem(6px);
    }
  }
}