//  Clear Fix -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin pie-clearfix {
  &:after {
    content : "";
    display : table;
    clear   : both;
  }
  zoom : 1;
}
//  textOptimizer -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin textOptimizer {
  -webkit-font-smoothing : antialiased !important;
  text-shadow            : 1px 1px 1px 1px rgba(0, 0, 0, 0.005);
}
@mixin nav-style {
  font-family : $main-font;
  font-size   : rem(16px);
  font-weight : 300;
  @include textOptimizer;
}
//  After menus -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin after_line {
  &:after {
    content    : '';
    background : $light;
    position   : absolute;
    top        : 100%;
    left       : 0;
    height     : 1px;
    width      : 100%;
    @include trans-1;
  }
}
@mixin menu-after {

  &:after {
    opacity: 0;
    content    : '';
    background : $color-2;
    position   : absolute;
    top        : 100%;
    left       : 0;
    height     : 1px;
    width      : calc(100% - 1.6rem); // unsauber
    @include trans-1;
  }

  &:last-child {
    &:after {
      width : calc(100%); // unsauber
    }
  }

  &:hover {
    &:after {
      opacity: 1;
      top     : calc(100% - 12px);
    }
  }
}
//  Text Styles -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin text-shaddow {
  text-shadow : rgba(0, 0, 0, 0.7) 2px 1px 2px;
}
@mixin box-shaddow {
  box-shadow : 0 2px 2px rgba(black, 0.60);
}
//  Transitions -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin trans-1 {
  transition : all 0.08s ease-out;
}
@mixin trans-2 {
  transition : all .4s ease;
}
@mixin trans-3 {
  transition : all 1.4s;
}
// Gradians ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@mixin gradiant-business {
  background : linear-gradient(-75deg, #5494cd 0%, #467cc0 100%);
}
@mixin gradiant-grey {
  background : linear-gradient(-120deg, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
}
@mixin gradiant-yellow {
  background : linear-gradient(-75deg, rgba(#E5C13F, 1) 0%, rgba(#EACD4C, 1) 100%);
}
@mixin gradiant-green {
  background : linear-gradient(90deg, rgba(155, 196, 78, 1) 0%, rgba(131, 182, 65, 1) 100%);
  filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#9BC44E', endColorstr='#83B641', GradientType=1);
}
@mixin gradiant-business {
  background : linear-gradient(-120deg, rgba(30, 44, 67, 1) 0%, rgba(22, 32, 48, 1) 100%);
}
@mixin gradiant-business-re {
  background : linear-gradient(-75deg, rgba(26, 38, 57, 1) 0%, rgba(22, 32, 48, 1) 100%);
}
@mixin gradiant-grey-d {
  background : linear-gradient(-120deg, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
}
@mixin gradiant-yellow-d {
  background : linear-gradient(-75deg, rgba(#E5C13F, 1) 0%, rgba(#EACD4C, 1) 100%);
}
@mixin removeGridMargins {
  .row {
    margin-bottom: 0;
    .col {
      margin-bottom: 0;
    }
  }
}



