table {

  &.packetLeistungen {
    width     : 100%;
    overflow  : auto;
    min-width : rem(800px);
    padding   : 2rem 0;

    .tableHead {
      td:first-child {
        padding : 0;
      }
      h2 {
        margin-bottom : rem(20px);
      }
    }
    .logo {
      max-height : 55px;
      width      : auto;
    }

    tr {
      &:nth-last-of-type(odd) {background : #e0e0e0;

        &.title {
          th {
            padding : 0.6rem 0;

            &.starter, &.basic, &.business {
              font-weight : 400;
            }
            &.title {
              @include gradiant-business;
              color       : $light;
              font-weight : 400;
            }
            &.starter {
              @include gradiant-grey;
              color       : $light;
              font-weight : 400;
            }
            &.basic {
              @include gradiant-yellow;
            }
            &.business {
              @include gradiant-business;
              color : $light;
            }
          }
        }
      }

      &.title {
        .starter {
          color : $dark !important;
        }

        .business {
          font-weight : 300 !important;
        }
      }

      td {
        text-align : center;
        padding    : 0.2rem 0.5rem;
        &:first-of-type {
          text-align : left;
        }

        &.starter, &.basic, &.business {
          min-width   : rem(150px);
          font-family : $title-font;
          font-weight : 400;
          font-size   : rem(15px);
          border-top  : 1px solid #ffff;
        }
        &.starter {
          border-top : 1px solid rgba($dark, 0.2);
        }

        &.starter {
          @include gradiant-grey;
          color : $dark;
        }
        &.basic {
          @include gradiant-yellow;
        }
        &.business {
          @include gradiant-business;
          color       : $light;
          font-weight : 300;
        }
      }
    }
  }
}