/*=================================================================================================================================================================================================
                                                                                            Config Typo
================================================================================================= | =============================================================================================*/
$main-font : 'Roboto', sans-serif;
$title-font : 'Josefin Sans', sans-serif;
$icon-font : 'kuehlewebdesignde';

$xs : 0.70;
$sm : 0.75;
$md : 0.85;
$lg : 0.95;
$xl : 1;

$font-size : 16px;
$line-height : 150%;
$font-margin-bottom : rem(12px);

//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
p {
  font-family   : $main-font;
  line-height   : $line-height;
  font-size     : $font-size;
  font-weight   : 400;
  color         : lighten($color-2, 10%);
  margin-bottom : $font-margin-bottom;
  position      : relative;
  text-align    : center;
  @include textOptimizer;

  &:only-of-type, &:last-of-type, &:last-of-type > .row {
    margin-bottom : 0 !important;
  }

  strong {
    font-family : $main-font;
    font-style  : italic;
    color       : $color-1;
  }

  b {
    font-family : $main-font;
    font-style  : normal;
    color       : $color-2;

    &.light {
      color : $light;
    }

  }

  @include breakpoint(sm) {
    font-size   : $font-size;
    line-height : $line-height;
  }

  @include breakpoint(md) {
    text-align : left;
  }
}
/*=================================================================================================================================================================================================
                                                                                            Überschriften
================================================================================================= | =============================================================================================*/
h1, h2, h3, h4, h5, h6 {
  font-family : $title-font;
  display     : block;
  line-height : 150%;
  @include textOptimizer;

  .row > & {
    flex : 1 0 100%;
  }

  td > & {
    padding : 0;
  }
  &.col {
    margin-bottom : 0;
  }

  .col > & {
    padding-left : 0;
  }

}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Phone Size
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$h1-phone-size : rem(27px);
$h2-phone-size : rem(24px);
$h3-phone-size : rem(22px);
$h4-phone-size : rem(20px);
$h5-phone-size : rem(18px);
$h6-phone-size : rem(16px);
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Tablet Size
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$h1-tablet-size : rem(30px);
$h2-tablet-size : rem(28px);
$h3-tablet-size : rem(26px);
$h4-tablet-size : rem(24px);
$h5-tablet-size : rem(22px);
$h6-tablet-size : rem(22px);
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Desktop Size
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$h1-desktop-size : rem(36px);
$h2-desktop-size : rem(32px);
$h3-desktop-size : rem(24px);
$h4-desktop-size : rem(18px);
$h5-desktop-size : rem(22px);
$h6-desktop-size : rem(22px);
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//                                                                                               Margins
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// eventuell wird das erweitert wenn die darstellung weitere margins für breakpoints benötigt
$h1-margin-bottom : rem(80px);
$h2-margin-bottom : rem(40px);
$h3-margin-bottom : rem(16px);
$h5-margin-bottom : rem(90px);
$h4-margin-bottom : rem(2px);
$h6-margin-bottom : rem(90px);
h1 {
  font-size     : $h1-phone-size;
  margin-bottom : $h1-margin-bottom;
  color         : $color-2;
  font-family   : $title-font;
  text-align    : center;
  font-weight   : 400;
  padding       : 0 $gap;

  b {
    color : $color-1;
  }

  body.page-template-page-kontaktformular & {
    font-size     : rem(36px);
    margin-bottom : 0;
  }

  @include breakpoint(sm) {
    font-size     : $h1-phone-size;
    margin-bottom : $h1-margin-bottom;
  }
  @include breakpoint(md) {
    font-size     : $h1-tablet-size;
    margin-bottom : $h1-margin-bottom;
  }
  @include breakpoint(lg) {
    font-size     : $h1-desktop-size;
    margin-bottom : $h1-margin-bottom;
  }
  @include breakpoint(xl) {
    font-size     : $h1-desktop-size;
    margin-bottom : $h1-margin-bottom;
  }

}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h2 {
  font-size     : $h2-phone-size;
  margin-bottom : $h2-margin-bottom * $xs;
  color         : $color-2;
  font-weight   : 400;
  padding       : 0 $gap;
  text-align    : center;

  @include breakpoint(sm) {
    font-size     : $h2-phone-size;
    margin-bottom : $h2-margin-bottom * $sm;
  }
  @include breakpoint(md) {
    font-size     : $h2-tablet-size;
    margin-bottom : $h2-margin-bottom * $md;
    text-align    : left;
  }
  @include breakpoint(lg) {
    font-size     : $h2-desktop-size;
    margin-bottom : $h2-margin-bottom * $lg
  }
  @include breakpoint(xl) {
    font-size     : $h2-desktop-size;
    margin-bottom : $h2-margin-bottom * $xl;
  }

  b {
    color       : $color-1;
    font-weight : 600;
  }
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h3 {
  font-size     : $h3-phone-size;
  margin-bottom : $h3-margin-bottom;
  color         : $color-2;

  @include breakpoint(sm) {
    font-size     : $h3-phone-size;
    margin-bottom : $h3-margin-bottom;
  }
  @include breakpoint(md) {
    font-size     : $h3-tablet-size;
    margin-bottom : $h3-margin-bottom;
  }
  @include breakpoint(lg) {
    font-size     : $h3-desktop-size;
    margin-bottom : $h3-margin-bottom;
  }
  @include breakpoint(xl) {
    font-size     : $h3-desktop-size;
    margin-bottom : $h3-margin-bottom;
  }

}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h4 {
  font-size     : $h4-phone-size;
  margin-bottom : $h4-margin-bottom*0.3;
  color         : $color-2;

  @include breakpoint(xs) {
    font-size : $h4-phone-size;
  }

  @include breakpoint(sm) {
    font-size : $h4-phone-size;
  }

  @include breakpoint(md) {
    font-size     : $h4-desktop-size;
    margin-bottom : $h4-margin-bottom;
  }

  @include breakpoint(lg) {
    font-size : $h4-desktop-size;
  }
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h5 {
  font-size     : $h5-desktop-size;
  margin-bottom : $h5-margin-bottom;
  color         : $color-2;
}
//-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h6 {
  font-size     : $h6-desktop-size;
  margin-bottom : $h6-margin-bottom;
  color         : $color-2;
}
/*=================================================================================================================================================================================================
                                                                                           Other Elements
================================================================================================= | =============================================================================================*/
b {
  font-weight : 500;
}
i {
  font-family : $main-font;
}