@import 'layout/functions';
@import 'layout/breakpoints';
@import 'layout/mixins';




//----------------------------------------------------- Color´s --------------------------------------------------------
$white : #ffffff;
$black : #000000;

$gold : #f0e68c;
$silver : #c0c0c0;

$magenta : #ff00ff;
$color-1 : #82b541;
$color-2 : #272727;
$color-3 : #467CC0;
$color-4 : #162030;
$color-5 : #1d2a40;

$blue3 : #387f9b;
$blue4 : #065f82;

$light : rgb(235, 235, 235);
$medium : #62727e;
$dark : #000000;

$warning : #f0a800;
$error : #ff2f34;
$done : #21cc00;

$siteBackground-color : $light;
$siteFont-color : $black;
$siteLink-color : $error;
$siteLinkHover-color : $light;
//----------------------------------------------------- Title Colors ---------------------------------------------------
$h1-color : #262626;
$h2-color : $dark;
$h3-color : $dark;
$h4-color : $dark;
$h5-color : $dark;
$h6-color : $dark;
//------------------------------------------------------ Buttons -------------------------------------------------------
$btn-background-color : $color-1;
$btn-font-color : $silver;
$btn-hover-color : $error;
$btn-hover-font-color : $light;

//----------------------------------------------------- Template-Space -------------------------------------------------
$template-width : 1200px;
$gap : 18px;




