/*=================================================================================================================================================================================================
                                                                                              Flex-Grid
================================================================================================= | =============================================================================================*/
.row {
  display         : flex;
  flex-flow       : row wrap;
  justify-content : center;
  margin          : 0 auto rem(60px) auto;

  .row {
    margin : 0 auto rem(60px) auto;

    &:last-of-type {
      margin-bottom : 0 !important;
    }
  }
  &.title {
    margin-bottom :0;
  }

  //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  @include breakpoint(xs) {
    justify-content : flex-start;
    .row {
      margin-bottom : rem(120px);
    }
  }
  @include breakpoint(md) {
    display   : flex;
    flex-flow : row wrap;
    width     : 100%;
    max-width : $template-width;

    &.full {
      min-width : 100% !important;

      & > .row {
        margin-bottom : 0 !important;
      }
    }
    .row {
      margin : 0 auto rem(120px) auto;
      .col {
        margin-bottom : 0;
      }
    }
  }

}
//=================================================================================================================================================================================================
.fullRow {
  margin-bottom : rem(120px);
}
//=================================================================================================================================================================================================
.col {
  padding-left  : rem($gap);
  padding-right : rem($gap);
  width         : 100%;
  margin-bottom : $gap*2;

  & p:only-of-type, &:only-of-type {
    margin-bottom : 0;
  }

  &.img {
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : center;
    justify-items   : center;
    align-items     : center;
    align-content   : center;

    > img {
      max-height : rem(100px);
      width      : auto;
    }
  }
}
//=================================================================================================================================================================================================
@include grid-columns(default);

// Grid classes for default breakpoint (no min-width)
// Generate column classes
@each $point, $width in $breakpoints {
  @include breakpoint($point) {
    @include grid-columns($point);
  }
}
/*=================================================================================================================================================================================================
                                                                                             Grid Areas
================================================================================================= | =============================================================================================*/