/*=================================================================================================================================================================================================
                                                                                              Flex-Grid
================================================================================================= | =============================================================================================*/
.row {
  display         : flex;
  flex-flow       : row wrap;
  justify-content : center;
  margin-bottom   : $gap*2;

  &.row:only-of-type, &:last-child {
    margin-bottom : 0;
  }

  main > &:last-of-type {
    margin-top: rem(90px);
  }

  //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  .row {
    margin-bottom : rem(120px) * 0.7;
    &.claim {
      &:last-of-type {
      }
    }
    &:last-of-type {
      margin-bottom : 0 !important;
    }
  }

  @include breakpoint(xs) {
    justify-content : flex-start;
    .row {
      margin-bottom : rem(120px);
    }
  }

  @include breakpoint(md) {
    display   : flex;
    flex-flow : row wrap;
    margin    : 0 auto $gap*6 auto;
    width     : 100%;
    max-width : $template-width;

    &.full {
      min-width : 100% !important;

      & > .row {
        margin-bottom : 0 !important;
      }
    }

    &.va {
      align-items : center;
    }

  }
}
//=================================================================================================================================================================================================
.fullRow {
  margin-bottom: rem(120px);
}
//=================================================================================================================================================================================================
.col {
  padding-left  : rem($gap);
  padding-right : rem($gap);
  width         : 100%;
  margin-bottom : rem($gap * 1.5);

  & p:only-of-type, &:only-of-type {
    margin-bottom : 0;
  }

  &.img {
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : center;
    align-items     : center;
  }
  //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

}
//=================================================================================================================================================================================================
@include grid-columns(default);

// Grid classes for default breakpoint (no min-width)
// Generate column classes
@each $point, $width in $breakpoints {
  @include breakpoint($point) {
    @include grid-columns($point);
  }
}
/*=================================================================================================================================================================================================
                                                                                             Grid Areas
================================================================================================= | =============================================================================================*/