/*======================================================================================================================
                                                         Header
============================================================|=========================================================*/
.header {
  position        : relative;
  background-size : cover;
  box-sizing      : border-box;
  display         : flex;
  flex-flow       : column nowrap;
  margin-bottom   : 3rem;

  .page-template-page-leistungen & {
    margin : 0;
  }

  .topBar {
    @include trans-3;
    background-color : $color-2;
    display          : flex;
    flex-flow        : row wrap;
    justify-content  : center;
    justify-items    : center;
    flex             : 1 0 auto;
    color            : $white;
    width            : 100%;
    z-index          : 100;
    top              : -600px;

    .infos {
      background-color : $color-5;
      flex             : 1 0 rem(95px);
      display          : flex;
      flex-flow        : column wrap;
      font-size        : rem(14px);
      color            : #b5b5b5;
      align-items      : flex-start;
      justify-content  : center;
      line-height      : rem(22px);
      z-index          : 101;
      width            : 100%;
      max-width        : $template-width;
      align-self       : center;
      padding          : 0.5rem $gap 0.5rem 1rem;
      top              : -600px;

      // Text and Icons
      span {
        font-weight : lighter;
        display     : flex;
        align-items : center;

        // Icons
        span {
          margin-right : 0.6rem;
        }
      }
      span.header-logo-box {
        display : none;
        z-index : 103;
      }
      .designloper {
        flex            : 1 1 auto;
        justify-content : center;
        font-weight     : 400;
      }
    }
    .mobileLogo {
      display: none;
    }
    &.sticky {
      @include trans-3;
      position   : fixed;
      z-index    : 1000;
      top        : 0;
      box-shadow : 0 1px 1px rgba($dark, 0.5);
    }
  }
  //-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  @include breakpoint(xs) {
    .topBar {
      .mobileLogo {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        background-color : $color-5;
        flex: 0 0 20%;
      }
    }
  }
  @include breakpoint(sm) {
      .topBar {
        .infos {
          align-content: center;
          align-items: center;
        }
      }
  }
  @include breakpoint(md) {
    margin-bottom : 0;

    .topBar {
      flex-flow : column;

      .infos {
        background-color : $color-2;
        flex             : 1 0 rem(45px);
        max-height       : rem(45px);
        flex-flow        : row;
        z-index          : 150;
        align-items      : center;
        align-content    : center;

        .header-logo-box {
          display  : flex !important;
          position : relative;
          z-index  : 500;
          &:after {
            content          : '';
            height           : 90px;
            width            : 90px;
            background-color : $color-2;
            z-index          : -100;
            position         : absolute;
            top              : 5px;
            left             : -8%;
            transform        : rotate(135deg) skew(20deg, 20deg);
          }
          object.logo {
            margin-top : 20px;
          }
        }
      }
      .mobileLogo {
        display: none;
      }
    }

  }
}